:root {
    /* important...... */

    /* primary colors */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /* Natural */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    /* font family  */
    --Hanken-Grotesk: "Hanken Grotesk", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* display: inline-block; */
}

body {
    font-family: var(--Hanken-Grotesk);
}

.container {
    height: 100vh;
    /* width: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upper {
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    width: 100%;
    max-width: 380px;
    min-height: 408px;
    /* padding: 20px 40px 20px 40px; */
    border-radius: 0 0 40px 40px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper .top {
    font-size: 18px;
    font-weight: 700;
    color: var(--Light-lavender);
}

.score {
    background: linear-gradient(var(--Violet-blue), hsla(241, 81%, 54%, 0.089));
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* margin-block: 25px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.score h1 {
    font-size: 70px;
    color: var(--White);
    /* padding: 20px 0 0 0; */
}

.score h4 {
    color: hsla(241, 100%, 89%, 0.678);
}

.upper .middle {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--White);
    padding-bottom: 10px;
}

.upper .bottom {
    font-size: 16px;
    color: var(--Light-lavender);
    padding-inline: 40px;
    text-align: center;
}


.lower {
    width: 100%;
    max-width: 380px;
    min-height: 450px;
    background-color: var(--White);
    padding-top: 15px;
    padding-inline: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lower h4 {
    color: var(--Dark-gray-blue);
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 30px;
    align-self: baseline;
}

.summary-scores {
    width: 100%;
    max-width: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.100);
    grid-area: reaction;
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.100);
    grid-area: memory;
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.100);
    grid-area: verbal;
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.100);
    grid-area: visual;
}

.block {
    width: 100%;
    padding-inline: 1rem;
    padding-block: 1rem;
    /* display: grid; */
    /* grid-template-areas: 'icon text points'; */
    display: flex;
    /* gap: 120px; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
}

.icon-text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.text {
    /* margin-right: 120px; */
    font-size: 18px;
}

.points {
    font-weight: 900;
}

.points span {
    font-weight: 700;
    color: hsla(224, 30%, 27%, 0.582);
}

.space {
    font-weight: 700;
}

.text-c1 {
    color: var(--Light-red);
}

.text-c2 {
    color: var(--Orangey-yellow);
}

.text-c3 {
    color: var(--Green-teal);
}

.text-c4 {
    color: var(--Cobalt-blue);
}

a {
    width: 100%;
    margin-block: 20px;
    padding-block: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    background: var(--Dark-gray-blue);
    font-size: 18px;
    color: var(--White);
    /* cursor: pointer; */
}

/* .button button {
    border: none;
    background-color: transparent;
    /* cursor: pointer; 
} */

/* today is work on media-quarry (@media) */

@media (min-width: 1024px) {
    .main {
        width: 100%;
        max-width: 800px;
        height: 520px;
        box-shadow: 11px 11px 20px 0px rgb(35 46 193 / 22%);
        flex-direction: row;
        border-radius: 40px;
    }

    .upper {
        max-width: 400px;
        /* Change-- max-width:380px to max-width: 400px (half of the main-div)*/
        min-height: 520px;
        /* Change-- min-height: 408px to min-height: 520px (full of main-div)*/
        border-radius: 40px 40px;
    }

    .upper .top {
        font-size: 32px;
    }

    .score {
        width: 200px;
        height: 200px;
    }

    .upper .middle {
        font-size: 2rem;
        font-weight: 600;
        color: var(--White);
        padding-bottom: 10px;
    }

    .upper .bottom {
        padding-inline: 85px;
        font-weight: 800;
        /* new add font-weight (only here !)*/
    }

    .lower {
        max-width: 400px;
        min-height: 520px;
        padding-inline: 50px;
        border-radius: inherit;
    }

    .lower h4 {
        font-size: 28px;
    }

    a{
        background-color: var(--Dark-gray-blue);
        transition: background-linear-gradient 0.5s ease-in-out;
    }
    
    a:hover{
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    }
}